.paginaPrincipal{
    display: grid;
    grid-template-areas: "cabecera cabecera"
    "navegacion contenido"
    "piePagina piePagina";
   /* grid-template-columns: 200px calc(100% - 200px);*/
   grid-template-columns: 1fr 1fr;
   grid-template-rows: 150px calc(100vh - 300px) 150px;
   grid-gap: 20px; 
}

.paginaPrincipal header{
    grid-area: cabecera;
}

.paginaPrincipal nav{
    grid-area: navegacion;
}

.paginaPrincipal article{
    grid-area: contenido;
}

.paginaPrincipal footer{
    grid-area: piePagina;
}

.paginaPrincipal article p{
    font-family: 'Climate Crisis', cursive;
}

.paginaPrincipal article p:hover{
    color: red;
    background-color: lightblue;
    font-size: 18px;
    cursor: pointer;
}

.paginaPrincipal nav ul li a{
    color: black;
    font-size: 20px;
    font-weight: bolder;
    word-spacing: 20px;
    text-decoration: none;
    padding: 25px;
}